@keyframes bounce {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(8%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes hexagon1 {
	0% {fill: #00A7E1;}
	50% {fill: #003459;}
	100% {fill: #00A7E1;}
}
@keyframes hexagon2 {
	0% {fill: #007EA7;}
	50% {fill: #00A7E1;}
	100% {fill: #007EA7;}
}
@keyframes hexagon3 {
	0% {fill: #003459;}
	50% {fill: #007EA7;}
	100% {fill: #003459;}
}

$white: #FFFFFF;
$lightblue: #00A7E1;
$darkestblue: #00171F;
$darkblue: #003459;
$medblue: #007EA7;